body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1200px;
    border: 3px solid steelblue;
    margin: 0 auto;
    box-shadow: 0 0 10px black;
}

header {
    border-bottom: 3px solid steelblue;
    background-image: linear-gradient(white, lightsteelblue);
    padding: 1.5em 0 2em 0;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 125%;
}

h3 {
    font-size: 110%;
}

section a {
    color: maroon;
}

section a:hover {
    color: steelblue;
}

section a:focus {
    color: steelblue;
}

aside a {
    color: steelblue;
    font-weight: bold;
}

aside a:hover {
    color: maroon;
}

aside a:focus {
    color: maroon;
}

header img {
    float: left;
    padding: 0 30px;
}

header h2,
header h3 {
    text-indent: 25px;
}

header h2 {
    color: steelblue;
    font-style: italic;
    text-shadow: 3px 3px 3px steelblue;
}

li {
    margin-bottom: .35em;
}

main {
    overflow: auto;
}

#resources {
    width: 245px;
    float: left;
    padding: 0 20px 20px 20px;
}

#resources h2 {
    color: maroon;
}

section {
    width: 590px;
    float: left;
    padding: 0 20px 20px 20px;
}

#prepare {
    width: 245px;
    float: right;
    padding: 0 20px 20px 20px;
}

#prepare h2 {
    color: maroon;
}

aside ul {
    line-height: 1.5;
}

footer {
    font-size: 80%;
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 15px 30px;
    clear: both;
}